/* 1829px */
@media (max-width: 115rem) {
  html {
    font-size: 55%;
  }

  .hero-heading {
    top: 40%;
  }

  .video-sonder-app {
    width: 40rem;
    height: 62.5rem;
    transform: translate(79%, 12%);
  }

  .hero-heading small {
    top: 80%;
  }
  .checkIn-input {
    margin-top: 0;
  }
  .checkIn-btn--next {
    margin-top: 0;
  }
}

/* 1340px */
@media (max-width: 87rem) {
  html {
    font-size: 50%;
  }

  .container-app {
    gap: 0;
  }

  .video-sonder-app {
    width: 34rem;
    height: 55.1rem;
    transform: translate(115%, 25%);
  }
  .app-phone-box img {
    transform: scale(0.7);
  }
  .app-phone-box {
    position: relative;
    max-width: 95rem;
  }
}

/* 1250px */
@media (max-width: 78.2rem) {
  .hero-heading {
    transform: translate(55%, -58%);
  }

  .container-app {
    gap: 0;
  }
  .app-phone-box {
    position: relative;
  }
  .container-app {
    display: flex;
    transition: all 0.3s;
  }
}

/* 1150px */
@media (max-width: 72rem) {
  .container-app {
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
  }
  .app-text-box {
    width: 45rem;
    margin: 0 auto;
  }
  .app-phone-box {
    max-width: 120rem;
    margin: 0 auto;
  }
  .app-phone-box img {
    transform: scale(0.7);
  }

  .tabContent-container {
    margin-bottom: 165rem;
  }
  .apartments-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 5rem;
  }
  .apartment-box img {
    max-width: 60rem;
  }

  .espaces-btn {
    bottom: -4450%;
    left: 50%;
    transform: translateX(-50%);
  }

  .price-95::before,
  .price-97::before,
  .price-213::before,
  .price-252::before,
  .price-263::before,
  .price-76::before,
  .price-77::before,
  .price-120::before,
  .price-134::before,
  .price-138::before,
  .price-147::before,
  .price-92::before,
  .price-98::before,
  .price-102::before,
  .price-108::before {
    width: 8.5rem;
    padding-bottom: 3.5rem;
  }
  .apartment-box::after {
    top: 6%;
    right: 2.5%;
  }
}

/* 1050px */
@media (max-width: 66rem) {
  .navbar {
    justify-content: space-around;
    gap: 0;
  }
  .hero-heading {
    transform: translate(30%, -58%);
  }
  .search-bar {
    height: 26rem;
    max-width: 45rem;
    flex-direction: column;
    gap: 0;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 75%);
    padding: 1rem;
  }
  .search-bar::before {
    content: "";
    width: 1px;
    height: 2.5rem;
    background-color: #9cb0af;
    position: absolute;
    right: 10%;
    top: 27%;
  }
  .search-bar::after {
    content: "";
    width: 1px;
    height: 2.5rem;
    background-color: #9cb0af;
    position: absolute;
    left: 10%;
    top: 27%;
  }

  #mondeDeChoix {
    margin: 0 auto;
    margin-top: 25rem;
    max-width: 100%;
  }

  .container-monde {
    display: grid;
    grid-template-columns: 70rem;
    justify-items: center;
    position: relative;
    margin-bottom: 15rem;
  }
  .box-monde {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 4rem;
  }
  .heading-monde {
    max-width: 50rem;
    text-align: center;
    margin: 0 auto;
  }
  .heading-monde p {
    max-width: 50rem;
    margin: 0 auto;
  }
  .box-monde-big {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .sub-text {
    position: absolute;
    font-size: 1.8rem;
    bottom: 24%;
    right: 60.5%;
  }

  .btn-monde {
    bottom: -7%;
  }

  .tabBar-buttons {
    justify-content: center;
    gap: 6rem;
  }

  .tabContent-container {
    margin-bottom: 290rem;
  }
  .tabContent-box {
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0;
    transition: opacity 0.5s;
    max-width: 100rem;
    transform: translateX(-50%);
  }
  .tab-img-text img {
    width: 50rem;
    height: 39rem;
    border-bottom-right-radius: 80px;
  }
  .tab-img-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7rem;
  }

  .apartments-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
  }
  .stay {
    text-align: center;
  }
  .espaces-btn {
    bottom: -8000%;
    left: 50%;
    transform: translateX(-50%);
  }
  .heading-sejour {
    margin-bottom: 5rem;
  }
  .heading-sejour h2,
  .heading-sejour p {
    margin: 0 auto;
    text-align: center;
  }
}

/* 980px */
@media (max-width: 61.3rem) {
  .heading-primary {
    font-size: 6rem;
  }

  #app-services {
    height: 175rem;
    background-color: #eaece2;
  }
  .app-phone-box img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: scale(0.7) translateX(-77%);
  }
  .video-sonder-app {
    width: 34rem;
    height: 55.1rem;
    transform: translate(-61%, 25%);
  }
  .divider-app {
    margin-top: 75rem;
  }
  .container-review {
    gap: 2rem;
  }
  .box-review img {
    max-width: 15rem;
  }
  .box-review p {
    max-width: 10rem;
    font-size: 1.3rem;
  }
  .tabContent-container {
    margin-bottom: 230rem;
  }
  .apartment-box img {
    max-width: 40rem;
  }
  .espaces-btn {
    bottom: -6400%;
    left: 50%;
    transform: translateX(-50%);
  }
  .video-text-box {
    transform: translate(20%, -60%);
    width: 50rem;
  }

  .header {
    max-width: 100%;
    max-width: 200rem;
    display: flex;
    background-color: #fffbf2;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    height: 5.6rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    font-size: 1.6rem;
    padding: 0 5rem;
  }

  /* MOBILE NAV */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .navbar {
    background-color: rgba(255, 251, 242, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .navbar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    z-index: 999;
    display: flex;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .navigation {
    font-weight: 400;
    color: #073937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .navigation li button {
    font-size: 3.4rem;
  }
}

/* 650px */
@media (max-width: 41rem) {
  .app-phone-box img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: scale(0.5) translateX(-100%);
  }
  .video-sonder-app {
    width: 24.1rem;
    height: 39.4rem;
    transform: translate(-47%, 54%);
  }
  .footer-box-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    font-size: 1.6rem;
  }
  .legal-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: flex-start;
    font-size: 1.4rem;
    margin-top: 7rem;
    color: #bbb;
  }
}

/* 500px */
@media (max-width: 32rem) {
  html {
    font-size: 45%;
  }
  .hero-heading {
    transform: translate(18%, -90%);
  }
  .heading-primary {
    max-width: 35rem;
  }
  .hero-heading small {
    top: 70%;
  }
  .tabBar-buttons {
    gap: 4rem;
  }

  .heading-monde p {
    max-width: 45rem;
    margin: 0 auto;
  }
  .box-monde {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4rem;
  }

  .box-monde-big {
    max-width: 40rem;
    height: 43.3rem;
  }
  .box-monde-big img {
    position: absolute;
    top: -100px;
    left: -40%;
    cursor: pointer;
    transition: all 0.7s;
  }
  .sub-text {
    position: absolute;
    font-size: 1.8rem;
    bottom: 33.5%;
    right: 69%;
  }

  #app-services {
    height: 145rem;
    background-color: #eaece2;
  }

  .app-phone-box img {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: scale(0.35) translateX(-150%);
  }
  .video-text-box {
    transform: translate(20%, -60%);
    max-width: 30rem;
  }
  .video-sonder-app {
    width: 19.1rem;
    height: 30.3rem;
    transform: translate(-64%, 32%);
  }
  .divider-app {
    margin-top: 45rem;
  }
  .container-review {
    gap: 1rem;
  }

  .heading-sejour h2 {
    width: 50rem;
    font-size: 3.8rem;
  }
  .tabBar-buttons {
    gap: 3rem;
  }
  .espaces-btn {
    bottom: -6140%;
  }
}
